/* Write some CSS below */
body {
  font-family: 'Noto Sans Mono', monospace;
  color: #404042;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: 'Noto Sans Mono', monospace;
}

h1 {
  color: orangered;
  font-family: 'Silkscreen', cursive;
  font-size: 80px;
}

h2 {
  color: whitesmoke;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 60px;

 }

h6 {
  color: black;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 60px;

 }

h3 {
  color: orange;
  font-family: 'Silkscreen', cursive;
  font-size: 20px;

  }

h4 {
  color: darkred;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 12px;

    }


  h5 {
  color: red; 
  font-family: 'Silkscreen', cursive;
  font-size: 10px;

     }

.banner {
	background-image:url(images/background.jpg);
	height: 500px;
	background-size: cover;
	text-align: center;
}

.carte {
	margin: 30px;
	padding: 20px;
	background-size: cover;
	border: 1px solid grey;
	width: 200px;
	height: 300px;

}

#discover {
	text-align: center;	
}


#coeur {
margin: 30px;
padding: 20px;	
background-color: darkred;
}